body {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: #2a5888;
  color:white;
  text-decoration: none;
  padding: 0 15px 10px calc(100vw - 100% + 15px);
  margin: 20px auto;
  max-width: 80%;
  }

header {
  padding-top: 0.8em;
  vertical-align: middle;
}

header img, h1, p {
  vertical-align: middle;
}

body header img {
  padding-right: 4px;
}

header p {
  font-weight: 700;
}

body header nav {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  min-width: max-content;
}

body header nav * {
  align-self: baseline;
  display: inline;
}

body header nav li {
  margin-right: 5px;
}

body main p {
  font-size: larger;
  text-align: center;
}

body main.information {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 5em;
}

body main.information div {
  display: flex;
  align-content:space-evenly;
  justify-content: center;
}

body main.information div * {
  border-color:#434d56;
  border-width: 10px;
  margin-left: 30px;
  width: 30%;
  height: 30%;
}

body main.information div *:first-child {
  margin-left: 0px;
}

body main span.contacts {
  display: flex;
  flex-direction: row;
}

body main span.contacts * {
  margin-left: 20px;
  padding-top: 10%;
  font-size: larger;
  font-weight: bolder;
}

body main span.contacts *:first-child {
  margin-left: 0px;
}

body footer ul.contacts {
  display:inline-flex;
  flex-direction: row;
}

body footer ul.contacts * {
  margin-left: 8px;
  display: inline;
}

body footer ul.contacts *:first-child {
  margin-left: 0px;
}

footer {
  padding-top: 10px;
  font-size: 0.8em;
}

body footer div {
  display: flex;
  flex-flow: inline wrap;
  justify-content: space-between;
  border-top: 10px #000000;
  font-weight: bolder;
}

hr {
  border: none;
  border-top: 2px solid #7fc2eb;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: #8378c7;
  text-decoration: none;
}

.grc:hover {
  color: #2C882B;
}

.uw:hover {
  color: #4b2e83;
}

.github:hover {
  color:#000000
}

.linkedin:hover {
  color: #00A0DC
}

.email:hover {
  color: palevioletred;
}